---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const tags = posts.map((p) => p.data.tags).flat();
const uniqueTags = [...new Set(tags)];

import BaseLayout from "../../layouts/Layout.astro";

---

<BaseLayout title="Arttu Nikkilä - Blog">
  <section class="container mx-auto px-4 wrapper pt-12 pb-8">
    <h1 class="text-3xl font-bold text-center mb-8 text-heading">Blog</h1>
    <p class="text-body mb-8">
      A warm welcome to my blog — a mix of web development insights, personal stories, and a bit of everything I love. Here, I share do's and don'ts for building better websites, rant about things that drive me crazy in tech, and dive into my favorite sci-fi books, TV series, and even personal topics like living with psoriasis. If you are like me, you may find that there is something to learn in every topic!

    </p>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-8 list-none p-0">
      {
        posts.map((post, index) => (
          <li class={`${index === 0 ? 'md:col-span-2 relative' : ''} ${post.data.tags.join(" ")}`}>
            <a href={`/blog/${post.slug}/`} class="block transition-transform hover:scale-105">
              
              {/* Featured Label */}
              {index === 0 && (
                <span class="absolute top-4 left-4 bg-primary text-white px-3 py-1 rounded-md text-xs uppercase font-bold shadow-md">
                  Featured
                </span>
              )}
    
              <img 
                width={720} 
                height={360} 
                class="rounded-lg mb-4 w-full object-cover" 
                src={post.data.heroImage} 
                alt="" 
              />
              <h4 class={`text-heading ${index === 0 ? 'text-4xl' : 'text-2xl'} font-bold`}>
                {post.data.title}
              </h4>
              <p class="text-heading">
                <FormattedDate date={post.data.pubDate} />
              </p>
              <div class="flex flex-wrap gap-2 mt-2">
                {post.data.tags.map(tag => (
                  <span class="bg-gray-200 text-gray-800 px-3 py-1 rounded-full text-sm">
                    {tag}
                  </span>
                ))}
              </div>
            </a>
          </li>
        ))
      }
    </ul>
    
  </section>
</BaseLayout>