---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import TimeLine from '../components/TimeLine.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';


import Certifications from '../components/Certifications.astro';

import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
  const latestPosts = posts.slice(0, 3); // Get the latest 3 posts
---

<Layout title='Arttu Nikkilä'>
  <main class="wrapper">
    <About />
    <TimeLine />
    <Projects />
    <Skills />
    <Certifications />

    <section class="py-8 px-4 text-body bg-background">
      <h2 class='text-3xl font-bold text-center mb-8 text-heading'>Latest blog posts</h2>
      
      <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {
          latestPosts.map((post) => (
            <li class="bg-background rounded-lg border border-body overflow-hidden transition-transform hover:scale-105">
              <a href={`/blog/${post.slug}/`} class="block">
                <img 
                  class="w-full h-48 object-cover"
                  loading="lazy"
                  src={post.data.heroImage} 
                  alt={post.data.title} 
                />
                <div class="p-4">
                  <h5 class="text-xl mb-2 ">{post.data.title}</h5>
                  <p class="text-gray-500 mb-4">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    
      <div class="mt-6 text-center">
        <a 
          class="inline-block text-lg font-medium underline text-blue-600 hover:text-blue-800 visited:text-purple-600"
          href="/blog" 
          title="All Posts"
        >
          View all Posts &rarr;
        </a>
      </div>
    </section>
    


  </main>
</Layout>
