---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from 'astro:assets';
import profileImage from '../images/profile_pic.jpg';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
  const latestPosts = posts.slice(0, 3); // Get the latest 3 posts
---

<BaseLayout>
	<div class="greetings-container">
		<div class="textplusphoto">
            <h1>Heya.</h1>
			<Image class="profile-image" src={profileImage} alt="Picture of me."/>
          </div>

	<p>Welcome to my website.
	</p>
	<p>
		I am Arttu, a 27 years old developer from Jyväskylä, Finland - currently employed as a developer in an eCommerce agency doing all kind of things related to web development.
  </p>
	<p>
		This site works as my personal website, portfolio and blog. Built with
    Astro, deployed on Hetzner Cloud VPS with Github Actions.
  </p>
  <p>
   If you are interested in looking under the hood, the whole source code is available on a public
   <a href="https://github.com/succabs/www-site" target="_blank">
    GitHub repository</a>.
  </p>

  <section>
    <h3>Latest blog posts</h3>
    <ul>
      {
        latestPosts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              <img src={post.data.heroImage} alt="" />
              <h4 class="title">{post.data.title}</h4>
              <p class="date">
                <FormattedDate date={post.data.pubDate} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
    <a class="" href="/blog" title="All Posts">All Posts &rarr;</a>
  </section>

</div>
</BaseLayout>

<style>
.textplusphoto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profile-image {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  margin-right:5rem;
}

@media (max-width: 720px) {
	.greetings-container{
		width: 100%;
	}
	.textplusphoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .profile-image {
    display: flex;
    align-items: center;
    margin-right:0rem;
  }
}

ul {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
grid-template-rows: 1fr;
grid-column-gap: 2rem;
grid-row-gap: 0px;
list-style-type: none;
padding-left: 0px;
}

ul li {
	width: 100%; /* Ensure each item takes the full width of its grid cell */
}

ul li * {
	text-decoration: none;
	transition: 0.2s ease;
}

ul li img {
	margin-bottom: 0.5rem;
	border-radius: 12px;
	width: 100%; /* Ensure images fill the entire width of their container */
}

ul li a {
	display: block;
}

.title {
	margin: 0;
	color: rgb(var(--black));
	line-height: 1;
}

.date {
	margin: 0;
	color: rgb(var(--gray));
}

ul li a:hover h4,
ul li a:hover .date {
	color: rgb(var(--accent));
}

ul a:hover img {
	box-shadow: var(--box-shadow);
}

@media (max-width: 720px) {
	ul {
		grid-template-columns: 1fr; /* Single column on mobile */
		grid-gap: 0.5em;
	}
}



</style>